body {
  margin: 0;
  padding-top: 70px;
  color: #bcc8cf;
  font-family: 'Philosopher', sans-serif;
  background-image: url("../background/BG_geo.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  text-shadow: 1px 1px 2px black;
}

header {
  background-color: rgba(0, 0, 0, 0.5);
  color: #000000;
  padding: 20px;
  display: flex;
  position: fixed;
  width: 100%;
  height: fit-content;
  top: 0;
  z-index: 1000;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-vision {
  width: 70px;
  height: 70px;
}

.header-title {
  font-size: 24px;
  color: #d2bc8e;
  margin: 0;
}

.content {
  margin-top: 50px;
  display: flex;
}

.navigation {
  padding: 0;
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
}

.navigation li {
    margin-left: 100px;
    padding: 15px;
}

.navigation a {
    text-decoration: none;
    color: #bcc8cf;
    font-size: 24px;
}

.content-container {
  flex: 1;
  padding: 0;
}

.content-container h1 {
  margin: 15px;
}


@media (max-width: 768px) {
  .content {
    flex-direction: column;
  }

  .navigation li {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .content-container {
    padding: 10px; /* Adjust as needed */
  }
}

.profile-content {
  padding: 15px; /* Adjust as needed */
  width: 30%;
}

.name, .voice, .profile-description, .description  {
  color: #bcc8cf;
}

.name {
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 15px;
}

.voice {
  margin-bottom: 5px;
}

.voice {
  font-size: 20px;
}

.profile-description, .description {
  font-size: 18px;
}

.separator {
  height: 1px;
  width: 100%;
  border: none;
  background-color: #bcc8cf;
  margin: 5px 0 20px;
}

.info-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.right-align {
  text-align: right;
  margin: 0;
}

.left-align {
  text-align: left;
  margin: 0;
}

.weapons-table {
  margin-left: 50px;
  border-collapse: collapse;
  width: 80%;
  margin-bottom: 50px;
}

/* Add border styles for th and tr */
.weapons-table th, .weapons-table tr {
  border: 1px solid #ddd; /* Adjust the color and size as needed */
}

/* Additional styling for th and tr if desired */
.weapons-table th {
  /* background-color: #f2f2f2; /* Optional background color for header */ */
}

.weapons-table td, .weapons-table th {
  padding: 10px; /* Add padding to cells for better readability */
}

.weapon-icon {
  width: 80px;
  /* height: 70%; */
  border-radius: 5px;
}

.weapon-name {
  margin: 5px;
}

.rarity-5 {
  background-image: url(../background/BG_Item_5_Star.png);
  background-size: cover;
}

.rarity-4 {
  background-image: url(../background/BG_Item_4_Star.png);
  background-size: cover;
}

h3, h4 {
  font-weight: normal;
}

h4 {
  margin: 5px;
}

.no-align {
  text-align: left;
}
